body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.ui-tooltip .ui-tooltip-text {
	opacity: .95;
	max-width: 500px;
	background-color: rgb(237, 237, 237) !important;
	border-bottom-color: rgb(237, 237, 237) !important;
	border-top-color: rgb(237, 237, 237) !important;
	border-left-color: rgb(237, 237, 237) !important;
	border-right-color: rgb(237, 237, 237) !important;
	background-image: none !important;
	color: rgb(0, 0, 0) !important;
}

body .ui-datatable .ui-datatable-data>tr>td {
	padding: .25em .25em;
}

body .ui-panelgrid .ui-panelgrid-cell {
	padding: .25em .25em;
}

body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
	border: 1px solid #c8c8c8;
	background-color: transparent;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

body .ui-accordion .ui-accordion-content {
	background-color: rgb(228, 232, 235);
}

/* Modifica o azul do thema (bot�es, accordion, abas) */
body .ui-tabs .ui-tabs-nav .ui-tabs-header.ui-state-active {
	background-color: rgb(0, 140, 80);
	border: 1px solid rgb(0, 140, 80);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
	border-color: rgb(0, 140, 80);
	background-color: rgb(0, 140, 80);
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active
	{
	background-color: rgb(0, 140, 80);
	color: white;
}

body .ui-button {
	border: 1px solid rgb(0, 140, 80);
	background-color: rgb(0, 140, 80);
}

body .ui-button.ui-state-active {
	border: 1px solid rgb(0, 140, 80);
	background-color: rgb(0, 140, 80);
}

body .ui-accordion .ui-accordion-header.ui-state-active {
	border: 1px solid rgb(0, 140, 80);
	background-color: rgb(0, 140, 80);
}

body .ui-button.ui-state-hover {
	border: 1px solid rgb(12, 94, 83);
	background-color: rgb(12, 94, 83);
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-hover
	{
	border-color: rgb(12, 94, 83);
	background-color: rgb(12, 94, 83);
}

body .ui-button.ui-state-focus {
	border: 1px solid rgb(12, 94, 83);
	background-color: rgb(12, 94, 83);
}

body .ui-accordion .ui-accordion-header.ui-state-active:hover {
	border: 1px solid rgb(12, 94, 83);
	background-color: rgb(12, 94, 83);
}

body .ui-accordion .ui-accordion-header.ui-state-active.ui-tabs-outline
	{
	border: 1px solid rgb(12, 94, 83);
	background-color: rgb(12, 94, 83);
}

body .ui-panelgrid .ui-panelgrid-cell {
	background: transparent;
}

a:link {
	text-decoration: none;
}

body .ui-card .ui-card-content {
	padding: 0;
}